body{
    text-align: center;
    background-color: #272b30;
  color: #e9ecef; }

 input {
    margin: 10px;
    color: #e9ecef;
    background-color: #3a3f44;}
select {
    margin: 10px;
    color: #e9ecef;
    background-color: #3a3f44;
}
table{
    align: center;
    margin-left: auto;
    margin-right: auto;

}
canvas {
    align: right;
}
@media  screen and (max-device-width: 960px) {

    #arppegio{
	visibility: hidden;
    }
    #strum {
	visibility: hidden;
    }
    #tonetype{
	visibility: hidden;
    }
}